

<div class="btn-group btn-group-toggle" data-toggle="buttons" id="controls">
    <button class="btn btn-secondary mode active" id="brush" mode="draw">Brush</button>
    <button class="btn btn-secondary mode" id="eraser" mode="draw">Eraser</button>
    <button class="btn btn-secondary mode" id="circles" mode="stamp">Circles</button>
    <button class="btn btn-secondary mode" id="squares" mode="stamp">Squares</button>
    <label for="color" class="btn btn-outline-secondary">
        <div>Color:</div>
        <input type="color" name="color" id="colorPicker" class="btn p-0" style="height:25px; font-size:small; width: 50px;">
    </label>
    <label for="brush_size" class="btn btn-outline-secondary">
        <div>Brush Size: <span id="b_size">25</span></div>
        <input type="range" min="1" max="50" value="2" class="slider" id="brush_size">
    </label>
    <button class="btn btn-danger" id="reset">Clear</button>
</div>

