{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>{{ profile.username}}'s Profile</title>    
{% endblock %}
{% block main %}
    <div class="container"> 
        <div class="row justify-content-left ">
            <div class="col-md-5 mt-4">
                <div class="row">
                    <div class="col-md-6">                        
                        <h5>User Name: {{ profile.username }}</h5> 
                        <p><b>Email:</b> {{ profile.email }}</p>
                        {% if profile == request.user%}
                            <!-- <a href="{% url 'edit_profile' %}" class="btn btn-outline-info mb-2">Edit Profile</a> -->
                        {% endif %}
                    </div>
                </div>
            </div>            
        </div>
        <div class="container justify-contents-center">
            <div class="row row-cols-1 row-cols-md-4 g-4" id="results">   
                {% for art in artwork %}
                <div class="col" id="image_{{ art.id }}">            
                    <div class="card text-center" style="max-width: 250px; max-height: 550px;">
                        <a href="{{art.image.url}}" target="_blank"><img class="card-img-top" src="{{ art.image.url }}" alt="{{ art.name }}"></a>
                        <div class="card-body">    
                            <div class="card-text">
                                <a href="{{art.image.url}}" target="_blank">{{ art.name }} </a><br>                                        
                                {% if profile == request.user %}
                                <!-- <a href="#" onclick="remove_from_collection('{{art.id}}')">Remove</a> -->
                                    <span>
                                        <a href="{% url 'edit_image' art.id %}" class="btn btn-sm btn-primary">Edit</a>
                                        <a href="#" onclick="remove_image('{{art.id}}')" class="btn btn-sm btn-danger">Remove</a>
                                    </span>    
                                {% endif %}
                            </div>
                        </div>                          
                    </div>                       
                </div> 
                {% endfor %}
            </div>                    
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'js/saveCanvas.js' %}"></script>
{% endblock %}