{% extends "base.html" %}
{% load static %}
{% block main %}
    <div class="container"> 
        <div class="row justify-content-left ">
            <div class="col-md-5 mt-4">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ profile.profile.image.url }}" class="rounded-circle" height="200" alt="user profile pic" loading="lazy"/>
                        {% if profile == request.user%}
                            <a href="{% url 'edit_profile' %}" class="btn btn-outline-info">Edit Profile</a>
                        {% endif %}
                        <h5>User Name: {{ profile.username }}</h5> 
                        <p><b>Email:</b> {{ profile.email }}</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row justify-content-left ">
            <div class="col-md-5 mt-4">  
            </div>                      
        </div>
    </div>
{% endblock %}