{% extends "base.html" %}
{% load static %}
{% block headerLinks %}
    <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">
    <script type="text/javascript">
        function checkPass() {
            var reg_pass = $("#id_password1").val();
            var checkPass = $("#id_password2").val();            
            if ($("#id_password2").val() == $("#id_password1").val()) {
                $("#c_pass").html("");
                $("#submit").attr("disabled", false);
            } else {
                $("#c_pass").html("Passwords do not match!");
                $("#submit").attr("disabled", true);
            }
        }        

        function showPass() {
            var password = document.getElementById("id_password1");
            if (password.type === "password") {
                password.type = "text";
            } else {
                password.type = "password";
            }
        }

        $(document).ready(function () {
            //$('#navigation').load('navi.html');
            $("submit").attr("disabled", true)   
            $("#id_password2").keyup(checkPass);
        });
    </script>
{% endblock %}

{% block title %}
    <title>User Registration and Login</title>
{% endblock %}

{% block main %}
    <section class="min-vh-100 py-5">
        <div class="container">
            <div class="row justify-content-center mb-md-6">
            <div class="col-auto">
                <a href="/">
                    <!-- <img src="" alt="logo">  -->
                </a>
            </div>
            </div>
            <div class="row justify-content-center pt-6">
            <div class="col-xl-4 col-lg-5 col-md-6">
                <div class="text-center mb-4">
                <h1 class="mb-1">Create Account</h1>
                </div>
                <br>
                <form action="{% url 'validate_register' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ register_form }}
                            <span class="errmsg" id="c_pass"></span></label><br>
                            <input type="checkbox" onclick="showPass()">  Show Password <hr>
                    </div>
                    <div class="form-group">
                        <button class="btn-block btn btn-primary" type="submit">Register</button>
                    </div>
                    <!-- <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="signup-agree">
                        <label class="custom-control-label text-small text-muted" for="signup-agree">I agree to the <a href="#">Terms & Conditions</a></label>
                    </div> -->
                    <hr>
                    <div class="text-center text-small text-muted">
                        <span>Already have an account? <a href="{% url 'login' %}">Sign In</a>
                        </span>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </section>
{% endblock %}